<div class="center hero-unit">
  <h1>Welcome</h1>

  <h2>
    This is the home page for the
    <a href="http://www.spiceworks.com/">Spiceworks</a>
    Intern Lunch Planner
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("spiceworks.png", alt: "Spiceworks"), 'http://www.spiceworks.com/' %>