<div class="center hero-unit">
  <h1>Welcome</h1>

  <h2>
    This is the home page for the lunch planning!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>