<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
	  <h1>
		<%= @recommendation.name %>
	  </h1>
	  <br>
	  
    <div class="description">
	    <b>Description:</b>
	    <%= @recommendation.description %>
	</div>
	  <% if current_user.admin? or current_user.id == @recommendation.user.id%>
	  <%= link_to "delete", [@user, @recommendation], method: :delete,
                                  data: { confirm: "You sure?" } %>
	  <% end %>
    </section>
  </aside>
</div>
