<li>
  <%= link_to event.name, event %>
  <% if current_user.admin?%>
    | <%= link_to "delete", event, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>